<form nz-form class="ant-advanced-search-form">
  <div nz-row [nzGutter]="40">
    <div nz-col [nzSpan]="8">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label [attr.for]="'queryName'">单位名称</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-input [nzSize]="'large'" [(ngModel)]="query.name" name="queryName" [nzPlaceHolder]="'请输入单位名称'" [nzId]="'queryName'"></nz-input>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="8">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="5">
          <label>账单类型</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="19">
          <nz-select style="width: 120px;" [(ngModel)]="query.type" name="queryType" [nzPlaceHolder]="'选择账单类型'" nzAllowClear>
            <nz-option [nzValue]="'销货单'" [nzLabel]="'销货单'"></nz-option>
            <nz-option [nzValue]="'购货单'" [nzLabel]="'购货单'"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24">
      <button nz-button [nzType]="'primary'" (click)="getData()">搜索</button>
      <button nz-button (click)="resetForm()">清空</button>
      <button nz-button [nzType]="'primary'" (click)="showModal()" style="float: left;">
        新建购(销)货单位
      </button>
    </div>
  </div>
</form>
<!-- 模态框 -->
<nz-modal [nzVisible]="isVisible" [nzTitle]="'新建购(销)货单位'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)" [nzConfirmLoading]="isConfirmLoading">
  <ng-template #modalContent>
      <form nz-form>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="addInfo.name" nz-form-item-required>单位名称</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
              <nz-input [nzSize]="'large'" [(ngModel)]="addInfo.name" name="addInfoName" [nzId]="'addInfo.name'"></nz-input>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="password" nz-form-item-required>账单类型</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
                <nz-select style="width: 120px;" [(ngModel)]="addInfo.type" name="queryType" [nzPlaceHolder]="'选择账单类型'" nzAllowClear>
                  <nz-option [nzValue]="'销货单'" [nzLabel]="'销货单'"></nz-option>
                  <nz-option [nzValue]="'购货单'" [nzLabel]="'购货单'"></nz-option>
                </nz-select>
            </div>
          </div>
        </form>
  </ng-template>
</nz-modal>
<!-- 模态框END -->

<div class="search-result-list">
  <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
    <thead nz-thead>
      <tr>
        <th nz-th><span>单位名称</span></th>
        <th nz-th><span>已结账单数</span></th>
        <th nz-th><span>未结账单数</span></th>
        <th nz-th><span>账单总数</span></th>
        <th nz-th><span>账单类型</span></th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td>
          <a (click)="setPageInfo(data.id)" [routerLink]="['/list']">{{data.name}}</a>
        </td>
        <td nz-td>{{data.settled}}</td>
        <td nz-td>{{data.unsettled}}</td>
        <td nz-td>
           {{data.total}}
        </td>
        <td nz-td>
          {{data.type}}
       </td>
      </tr>
    </tbody>
  </nz-table>
</div>
