
<nz-layout class="layout">
  <nz-header>
    <div nz-row>
      <div class="logo" nz-col [nzSpan]="8">
        <p class="hqh_company_zh">
          临汾市和庆和商贸有限公司
        </p>
        <p class="hqh_company_en">
          He Qing He iron and Steel Co., Ltd.
        </p>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-layout style="padding:0 24px 24px">
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
        <!-- <app-main></app-main> -->
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>